In [1]:
import os, jieba, json, re
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('D:/pytel_data/outhet_excel_2/ikeamaster_ver11.csv',encoding='utf8')

In [3]:
df2 = pd.read_csv('D:/pytel_data/outhet_excel_2/ikeamaster_ver12.csv',encoding='utf8')

In [4]:
df3 = pd.read_csv('D:/pytel_data/outhet_excel_2/ikeamaster_ver13.csv',encoding='utf8')

In [5]:
df4 = pd.read_csv('D:/pytel_data/outhet_excel_2/ikeamaster_ver14.csv',encoding='utf8')

In [6]:
df_funiture_url_remix_1 = df[['Product number','funiture_url']]

In [7]:
df_funiture_url_remix_1

       Product number                                       funiture_url
0    產品編號: 004.243.63  https://www.ikea.com.tw/dairyfarm/tw/images/49...
1    產品編號: 091.838.68  https://www.ikea.com.tw/dairyfarm/tw/images/54...
2    產品編號: 092.792.91  https://www.ikea.com.tw/dairyfarm/tw/images/49...
3    產品編號: 391.987.88  https://www.ikea.com.tw/dairyfarm/tw/images/54...
4    產品編號: 403.201.32  https://www.ikea.com.tw/dairyfarm/tw/images/54...
..                ...                                                ...
716  產品編號: 992.879.89                                                NaN
717  產品編號: 992.882.91                                                NaN
718  產品編號: 993.308.22                                                NaN
719  產品編號: 993.313.03                                                NaN
720  產品編號: 993.313.55                                                NaN

[721 rows x 2 columns]

In [8]:
df_funiture_url_remix_1_c = df_funiture_url_remix_1.dropna(axis=0, how='any')

In [9]:
df_funiture_url_remix_2 = df2[['Product number','funiture_url']]

In [10]:
df_funiture_url_remix_2

       Product number funiture_url
0    產品編號: 004.243.63          NaN
1    產品編號: 091.838.68          NaN
2    產品編號: 092.792.91          NaN
3    產品編號: 391.987.88          NaN
4    產品編號: 403.201.32          NaN
..                ...          ...
716  產品編號: 992.879.89          NaN
717  產品編號: 992.882.91          NaN
718  產品編號: 993.308.22          NaN
719  產品編號: 993.313.03          NaN
720  產品編號: 993.313.55          NaN

[721 rows x 2 columns]

In [11]:
df_funiture_url_remix_2_c = df_funiture_url_remix_2.dropna(axis=0, how='any')

In [12]:
df_funiture_url_remix_3= df3[['Product number', 'funiture_url']]

In [13]:
df_funiture_url_remix_3

       Product number funiture_url
0    產品編號: 004.243.63          NaN
1    產品編號: 091.838.68          NaN
2    產品編號: 092.792.91          NaN
3    產品編號: 391.987.88          NaN
4    產品編號: 403.201.32          NaN
..                ...          ...
716  產品編號: 992.879.89          NaN
717  產品編號: 992.882.91          NaN
718  產品編號: 993.308.22          NaN
719  產品編號: 993.313.03          NaN
720  產品編號: 993.313.55          NaN

[721 rows x 2 columns]

In [14]:
df_funiture_url_remix_3_c = df_funiture_url_remix_3.dropna(axis=0, how='any')

In [15]:
df_funiture_url_remix_4 = df4[['Product number', 'funiture_url']]

In [16]:
df_funiture_url_remix_4

       Product number                                       funiture_url
0    產品編號: 004.243.63                                                NaN
1    產品編號: 091.838.68                                                NaN
2    產品編號: 092.792.91                                                NaN
3    產品編號: 391.987.88                                                NaN
4    產品編號: 403.201.32                                                NaN
..                ...                                                ...
716  產品編號: 992.879.89  https://www.ikea.com.tw/dairyfarm/tw/images/36...
717  產品編號: 992.882.91  https://www.ikea.com.tw/dairyfarm/tw/images/36...
718  產品編號: 993.308.22  https://www.ikea.com.tw/dairyfarm/tw/images/94...
719  產品編號: 993.313.03  https://www.ikea.com.tw/dairyfarm/tw/images/95...
720  產品編號: 993.313.55  https://www.ikea.com.tw/dairyfarm/tw/images/95...

[721 rows x 2 columns]

In [17]:
df_funiture_url_remix_4_c = df_funiture_url_remix_4.dropna(axis=0, how='any')

In [18]:
df_funiture_url_remix = pd.concat([df_funiture_url_remix_1_c, df_funiture_url_remix_2_c, df_funiture_url_remix_3_c, df_funiture_url_remix_4_c], axis=0)

In [19]:
df_funiture_url_remix

       Product number                                       funiture_url
0    產品編號: 004.243.63  https://www.ikea.com.tw/dairyfarm/tw/images/49...
1    產品編號: 091.838.68  https://www.ikea.com.tw/dairyfarm/tw/images/54...
2    產品編號: 092.792.91  https://www.ikea.com.tw/dairyfarm/tw/images/49...
3    產品編號: 391.987.88  https://www.ikea.com.tw/dairyfarm/tw/images/54...
4    產品編號: 403.201.32  https://www.ikea.com.tw/dairyfarm/tw/images/54...
..                ...                                                ...
716  產品編號: 992.879.89  https://www.ikea.com.tw/dairyfarm/tw/images/36...
717  產品編號: 992.882.91  https://www.ikea.com.tw/dairyfarm/tw/images/36...
718  產品編號: 993.308.22  https://www.ikea.com.tw/dairyfarm/tw/images/94...
719  產品編號: 993.313.03  https://www.ikea.com.tw/dairyfarm/tw/images/95...
720  產品編號: 993.313.55  https://www.ikea.com.tw/dairyfarm/tw/images/95...

[721 rows x 2 columns]

In [20]:
df_funiture_url_remix.to_csv(r'D:/pytel_data/outhet_excel_2/df_funiture_url_remix.csv', encoding='utf-8')